.banner-img {
    width: auto;
    height: auto;
  }

.purp{
    background-color: #ccd5ae;
}


.city-info {
    margin-top: 30px;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

  .city-info p {
    font-size: 18px;
    line-height: 1.6;
}

  .city-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;

}

.city-info h2 {
  color: #929b77;
  font-weight: bolder;
}

.map{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.food{
  display: flex;
  justify-content: space-around;
}

.food img{
  width: 30%;
  height: 30%;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(212,163,115);
    background: linear-gradient(0deg, rgba(212,163,115,1) 0%, rgba(254,250,224,1) 54%, rgba(204,213,174,1) 100%);
}