.banner-img {
    width: auto;
    height: auto;
  }

.purp{
    background-color: #C42021;
}

body{
    background-color: #F3FFB9;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}